@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Cinzel&family=DM+Sans:opsz,wght@9..40,100&family=Merriweather:ital,wght@1,300&family=Oswald:wght@300;500&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Raleway:wght@300&family=Staatliches&family=Tilt+Prism&family=Ysabeau+SC:wght@100;300&display=swap');


.welcome {
    text-align: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Cinzel', serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    color: #c0c0c0;
    background-color: black;
    width: 600px;
    position: relative;
    left: 450px;
    border-radius: 5px;

}